*{ 
	margin: 0;  
	padding: 0; 
	box-sizing: border-box; 
}
picture {
    display: block;
    text-align: center;
}
.conteinerDescarga{
	margin: 0.5em;
    padding-top: 1em;
	display: flex;
	text-align: center;
	justify-content: space-around;
}
.conteinerDescarga h3{
	margin-bottom: 1em;
	color: #212121;
	text-align: center;
    font-family: 'Oswald', sans-serif;
}
.conteinerDescarga :first-child{
	margin-right: 0.5em;
}
.conteinerDescarga article{
	background-color: #e8e8e8;
	border-radius: 0.4em;
	width: 50%;
}
.conteinerDescarga article img{
	margin: 0.5em;
}
#inicio article h1{
	background: url("../img/logo.png") no-repeat center center; 
	background-size: cover; 
	background-position: top;
	background-size: 64px 64px;
	padding-top: 3em;
}
#caracteristicas article h1,#inicio article h1{
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
	font-size: 1.3em;
	color: #212121;
	font-family: 'Oswald', sans-serif;
}
em{
	font-weight: bold;
}
.videoApp{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 1em;
    overflow: hidden;
}
.videoApp iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    border-radius: 0.3em;
    height: 100%;
    border: 0;
}
#caracteristicas,#inicio{
	padding-bottom: 1em;
}
#caracteristicas article,#inicio article{
	text-align: left;
	margin: 1em;
}
#caracteristicas article p,#inicio article p{
	text-align: left;
    font-family: 'Architects Daughter', cursive; 
	line-height: 1.8em;
}
.sectionTitle{
	color: #ffffff;
    font-family: "Architects Daughter", cursive;
	font-size: 2rem;
	background-color: #2196F3;
	padding: 0.2em;		
	border-bottom: 0.2em solid #1565C0;
	text-align: left;
	padding-left: 0.5em;
}
nav{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 4em;
	width: 100%; 
}
header{ 
	background-color: #1976D2; 
	text-align: center; 
	color: #ffffff; 
	height: 4em; 
	line-height: 4em; 
	font-family: 'Oswald', sans-serif;
}
#iconos li{ 
	list-style: none; 
	text-indent: -3em; 
	overflow: hidden; 
	margin-top: 0.8em; 
	margin-left: 1em; 
	width: 2.5em; 
}	
#iconos li a{ 
	background: url("../img/menu.png") no-repeat center center; 
	background-size: cover; 
	display: block; 
	height: 2.5em; 
}
#iconos li:last-child{ 
	display: none; 
}
#botones{
	width: 100%;
	position: absolute;
	top: 4em;
	left: 0;
	background-color: #e8e8e8;
}
#botones li{
	list-style: none;
    padding: 1em;
    margin: 1em;
    background-color: #1E88E5;
}
#botones li a{ 
	color: #ffffff; 
	display: block; 
    font-family: 'Verdana', sans-serif;
	text-align: center; 
	line-height: 2em; 
}
.figure-overlay{
    background-color: #212121;
}
#caracteristicas h2{
	margin-bottom: 0.5em;
}
nav ul li a{
	text-transform: capitalize;
}
nav:target ~ main { 
	top: 21em; 
	transition: top .5s ease;
}
nav:target #iconos li:first-child{ 
	display: none; 
}
nav:target #iconos li:last-child{ 
	display: block; 
}
main{
	top: 0;
	position: relative;
	z-index: 400;
}
#disponibleEn{
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
	font-size: 1.3em;
	color: #212121;
	font-family: 'Oswald', sans-serif;
}
#consejos :last-child{
	margin-bottom: 0;
	padding-bottom:1em;
}
a{
	text-decoration: none;
}
#datosAlumno{
	padding-left: 1em;
	background-color: #212121;
	text-align: left;
}
#datosAlumno ul{
	list-style: none;
}
#datosAlumno ul li{
	color:#ffffff;
	font-family: "Architects Daughter", cursive;
}
#contenedorRedesSociales{
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #1976D2;
}
#contenedorRedesSociales p{
	text-align: left;
	display: inline-block;
	color: #ffffff;
	line-height: 3em;	
    font-family: 'Oswald', sans-serif;
}
::-webkit-input-placeholder{ 
    color: #212121;
}
:-moz-placeholder{ 
   color: #212121;
   opacity: 1;
}
::-moz-placeholder{ 
   color: #212121;
   opacity: 1;
}
:-ms-input-placeholder{ 
   color: #212121;
}
::-ms-input-placeholder{
   color: #212121;
}
input[type=text]:focus,input[type=email]:focus,textarea:focus{
  outline: 0.3em solid #03A9F4; 
}
.badgeForm{
	position: relative;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    color: #ffffff;
    border-radius: 0.2em;
    background-color: #1976D2;
    width: 7em;
    margin-left: 0.3em;
    text-align: center;
    top: 1em;
    left: -1em;
    z-index: 20;
}
#formEntrada{
	margin:1em;
}
#formEntrada input[type="submit"]{
	padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FF5252;
    border: none;
    color: white;
    border-radius: 2em;
    display: inline-block;
    margin: 2em auto;
}
#formEntrada textarea{
	width: 100%;
	border-radius: 0.2em;
	border-color: transparent;
	padding-top: 2.5em;
	padding-bottom: 1em;
	text-align: left;
	padding-left: 1em;
	background-color: #e8e8e8;
	color: #212121;
	resize: none;
	font-family: Arial;
}
#formEntrada input[type="text"],input[type="email"]{
	width: 100%;
	border-radius: 0.2em;
	border-color: transparent;
	padding-top: 2.5em;
	padding-bottom: 1em;
	text-align: left;
	padding-left: 1em;
	background-color: #e8e8e8;
	color: #212121;
	font-family: Arial;
}
main section,footer{
	background-color: #F5F5F5;
}
#contenedorRedesSociales div{
	text-align: right;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	display: inline-block;;
}
#contenedorRedesSociales div a{
	display: inline-block;
	height: 32px;
  	width: 32px;
}
#facebook-link{
  background-image:url("../img/facebook.png");
}
#twitter-link{
  background-image:url("../img/twitter.png");
}
#instagram-link{
  background-image:url("../img/instagram.png");
}
#youtube-link{
  background-image:url("../img/youtube.png");
}
img{
	max-width:100%;
}
.conteinerDescarga article:hover{
	background: #01579B;
}	
#formEntrada input[type="submit"]:hover{
	background-color: #01579B;
	cursor: pointer;
}